.navbar-nav .navbar-link.active {
    color: #fff;
}

.nav-link {
    text-align: center;
}

section {
    height: 100vh;
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

#carrossel {
    position: relative;
}

header.card-header, #carrossel {
    z-index: 0;
}